.logo-brand {
    max-height: 60px;
}
.navbar-link-item {
    font-weight: 400;
    color: #111430;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
    &:hover {
        border-bottom: 2px solid #28a745;
    }
}
