.service-icon {
    max-height: 95px;
}
.service-card:hover {
    cursor: pointer;
    box-shadow: 0 0 60px rgba(68, 68, 68, 0.23);
    border-radius: 10px;
    transform: translateY(-4px);
    transition: all 0.2s ease-in;
}
a.service-link:hover {
    text-decoration: none;
}
